@charset "utf-8";
/* font-family: 'Oswald', sans-serif; */
/* .hero {
  background-image: linear-gradient(rgba(102,51,0,0.60), rgba(153, 102,51,0.2), url(..
  /img/mister-rogers-neighbors-900x600-102-min1.jpg);
} */

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}