@charset "utf-8";

@font-face{
  font-family: bookman;
  src:url("../css/bookman.ttf");
}

body {
  font-family: bookman;
}
h1{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 80px;
  position: relative; 
  color: wheat;
  z-index: 1;
}
#form-one {
  font-size: 25px;
  position: relative; 
  color: wheat;
  z-index: 1;
  padding-top: 20px;
}
ul#output {
  position: relative;
  font-size: 20px;
  color: wheat;
  z-index: 3;
  padding-top: 20px;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index=0;

}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: 0;
} 